<% layout('layouts/boilerplate')%>

    <h3>name: <%= campground.title %></h3>
    <h3>location: <%= campground.location %></h3>
    <img src="<%=campground.image%>" alt="">
    <p><%=campground.description%></p>
    <p>
      <a href="/campgrounds/<%=campground._id%>/edit">edit campground</a>
    </p>
    <p>
        <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
            <button>delete</button>
        </form>
    </p>
    <footer>
      <p>
        <a href="/campgrounds" method="POST">all campgrounds</a>
      </p>
    </footer>
